/temp
/training/logs
/training/data
/logs
/tools/logs
/plot_script/*.npy
/plot_script/*.png
/plot_script/*.pdf
/plot_script/*.svg
/result_plot
/__pycache__
/output

.vscode
__pycache__

*.o
*.so
*.dll
*.txt
*.csv
*.log
*.npy